<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.onceinteractiveapp819023" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Onceinteractiveapp</name>
  <description>
        Onceinteractive app that users can register and login. Then they can create a few bucket list items.
    </description>
  <author email="nolan@onceinteractive.com" href="http://onceinteractive.com/">
      Onceinteractive Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="phonegap-version" value="3.7.0" />
    <feature name="StatusBar">
      <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
</widget>